<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nut.dao.UserInfoMapper">
    <resultMap id="BaseResultMap" type="com.nut.entity.UserInfo">
        <constructor>
            <arg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_base_mobile" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_other_phone" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_pwd" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_save_num" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_profile_picture" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_nickname" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_openid" jdbcType="VARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.nut.entity.UserInfo">
        <constructor>
            <arg column="user_id" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_base_mobile" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_other_phone" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_pwd" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_save_num" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_profile_picture" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_nickname" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_openid" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="user_describe" jdbcType="LONGVARCHAR" javaType="java.lang.String"/>
        </constructor>
    </resultMap>
    <sql id="Blob_Column_List">
        user_describe
    </sql>
    <insert id="insert" parameterType="com.nut.entity.UserInfo">
        insert into user_info (user_id, user_name, user_base_mobile,
          user_other_phone, user_pwd, user_save_num,
          user_profile_picture, user_nickname, user_openid,
          user_describe)
        values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userBaseMobile,jdbcType=VARCHAR},
          #{userOtherPhone,jdbcType=VARCHAR}, #{userPwd,jdbcType=VARCHAR}, #{userSaveNum,jdbcType=VARCHAR},
          #{userProfilePicture,jdbcType=VARCHAR}, #{userNickname,jdbcType=VARCHAR}, #{userOpenid,jdbcType=VARCHAR},
          #{userDescribe,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.nut.entity.UserInfo">
        insert into user_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userBaseMobile != null">
                user_base_mobile,
            </if>
            <if test="userOtherPhone != null">
                user_other_phone,
            </if>
            <if test="userPwd != null">
                user_pwd,
            </if>
            <if test="userSaveNum != null">
                user_save_num,
            </if>
            <if test="userProfilePicture != null">
                user_profile_picture,
            </if>
            <if test="userNickname != null">
                user_nickname,
            </if>
            <if test="userOpenid != null">
                user_openid,
            </if>
            <if test="userDescribe != null">
                user_describe,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userBaseMobile != null">
                #{userBaseMobile,jdbcType=VARCHAR},
            </if>
            <if test="userOtherPhone != null">
                #{userOtherPhone,jdbcType=VARCHAR},
            </if>
            <if test="userPwd != null">
                #{userPwd,jdbcType=VARCHAR},
            </if>
            <if test="userSaveNum != null">
                #{userSaveNum,jdbcType=VARCHAR},
            </if>
            <if test="userProfilePicture != null">
                #{userProfilePicture,jdbcType=VARCHAR},
            </if>
            <if test="userNickname != null">
                #{userNickname,jdbcType=VARCHAR},
            </if>
            <if test="userOpenid != null">
                #{userOpenid,jdbcType=VARCHAR},
            </if>
            <if test="userDescribe != null">
                #{userDescribe,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>

    <delete id="deleteByMobile" parameterType="String">
        DELETE FROM user_info WHERE user_base_mobile = #{userBaseMobile,jdbcType=VARCHAR}
    </delete>

    <select id="getUserInfoByBaseMobile" parameterType="String" resultType="com.nut.entity.UserInfo">
        select  * from user_info where user_base_mobile =#{userBaseMobile,jdbcType=VARCHAR}
    </select>

</mapper>
